@font-face{
    font-family: 'FonteBanner';
    src: url("../css/bauhaub.ttf");
}

body{
    font-size: 18px;
}
.carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #003466;
  }
 
  .carousel-indicators li {
      border-color: #009688;
     
  }
  .carousel-indicators li.active {
      background-color: #009688;
    
  }
  
  #fontebanner{
   font-family: 'FonteBanner';  
   font-size: 50px;
   color:#009688;
   
  }
  #fontebanner span{
      color:#fff;
  }
  .carousel .carousel-inner img{
     width: 100%;
     height: 700px;;
  }
  
  #card:hover{
       
      background:#676470;
            transition:all 0.3s ease;
  }
  #card a{
      text-decoration: none;
      color:#000;
      
  }
  #card a:hover{
       opacity: 1;
        color:#fff;
        
  }
  #card img{
      width: 100%;
      height: 200px;
    
  
      
  }
  
  #card img:hover{
       background:#676470;
            transition:all 0.3s ease;
  }
  
  .footer{
      padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #607d8b;
  color: white;
  }
  footer{
      color:#fff;
  }
  footer a{
      text-decoration: none;
      color:#fff;
  }
  footer a:hover{
      color:#00ffff;
  }
  
  #imgfolheta{
      height: 200px;
      
  }
 
  
  .materia a{
       opacity: 1;
  }
  
  .materia a:hover{
      opacity: 0.5;
  }
  
  #celular_display{
      display: none;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
    
    
  }
/*  @media only screen and (min-width: 300px) and (max-width: 375px){
 #logo-nav{
      width: 100px;
  }
  
   .text-center{
      margin-left: 3px;
  }
  }*/
/*  @media only screen and (min-width: 376px) and (max-width: 425px){
 
  
   .text-center{
      margin-left: 3px;
  }
  }*/
/*  @media only screen and (min-width: 426px) and (max-width: 768px){
 
  
   .text-center{
      margin-left: 3px;
  }
  }
  
  
.home{
    width: 260px;
    height: 260px;
}

a .link {
    text-decoration: none;
}

#celular_display{
    display: none;
}*/
@media only screen and (min-width: 300px) and (max-width: 768px){
   

    #myCarouselhome{
        display: none;
    }
    #desktop{
        display:none;
    }
    
        #celular_display{display: block;}
     
        .carousel .carousel-inner img{
     width: 100%;
     height: auto;
  }
  
  .acelular{
      margin: 30px;
     
  }
  
  
  
 
  
  
    
  
    }