.carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #003466;
  }
 
  .carousel-indicators li {
      border-color: #009688;
     
  }
  .carousel-indicators li.active {
      background-color: #009688;
    
  }
  #home .img{
       
   
  
   background: #000;
   opacity: 0.5;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }